NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:7001
NEXT_PUBLIC_AUTHORIZATION_API_URL=http://localhost:7016
NEXT_PUBLIC_ACADEMIC_API_URL=http://localhost:7002
NEXT_PUBLIC_ATTENDANCE_API_URL=http://localhost:7003
NEXT_PUBLIC_COMMUNICATION_API_URL=http://localhost:7004
NEXT_PUBLIC_FINANCE_API_URL=http://localhost:7006
NEXT_PUBLIC_AI_ASSISTANT_URL=http://localhost:7007/api/chat

EXPO_PUBLIC_IDENTITY_API_URL=http://YOUR_MACHINE_IP:7001
EXPO_PUBLIC_ACADEMIC_API_URL=http://YOUR_MACHINE_IP:7002
EXPO_PUBLIC_ATTENDANCE_API_URL=http://YOUR_MACHINE_IP:7003
EXPO_PUBLIC_COMMUNICATION_API_URL=http://YOUR_MACHINE_IP:7004
EXPO_PUBLIC_EXAM_API_URL=http://YOUR_MACHINE_IP:7005
EXPO_PUBLIC_AI_ASSISTANT_URL=http://YOUR_MACHINE_IP:7007/api/chat
